.prebiotics-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 22em;
    gap: 4.6em;
}

.prebiotics-section h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.24px;
    color: #161723;
    margin: 0;
}

.prebiotics-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #424153;
}